@import url('https://fonts.googleapis.com/css?family=Anton SC');

body {
    background-image: url(https://www.creativeboom.com/upload/articles/0f/0f3ddbfc6ee87ed8511af72d925f72d13e38d6f0_1888.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: #cfbfca;
    color: #000000;
    font-family: "Anton SC";
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #521942;
        }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.country-card {
    max-width: 350px;
    background-color: #cfbfca;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    animation: fadeInUp 0.6s ease forwards;
}

.country-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.country-card img {
    width: 100%;
    height: 200px;
    width: 350px;
    object-fit: cover;
}

.country-card .card-body {
    padding: 15px;
    text-align: center;
}

.country-card h5 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #000000;
    font-family: "Anton SC";
}

.scroll-button {
    padding: 10px 20px;
    margin-top: 150px;
    margin-bottom: 350px;
    font-size: 1.2rem;
    background-color: #cfbfca;
    color: #000000;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-family: "Anton SC";
}

.scroll-button:hover {
    background-color: #6f2f54;
    cursor: pointer;
    transform: scale(1.05);
}

.scroll-button:focus {
    outline: none;
}
